<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

   <!-- Our own style sheet -->
  <link rel="stylesheet" href="/static/css/memos.css" />

</head>
<body>
<div class="container" style"width: 100%">

<!-- Flashed messages before content -->
<br>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- div to hide create memo -->
<div id="entermemo" style="display: none">
  <h1>Enter New Memo</h1><br>
  <form id="entry" method="POST" action="/create">
    <div class="row">
      <label for="date">Date/Time:</label>
      <input type=date name="date"><input type=time name="time">
    </div><br>
    <div class="row">
      <textarea name="memo" id="memo" rows="10" style="width: 40%;"></textarea>
    </div><br>
    <input type="submit" name="memo" value="Submit Memo">
  </form>
</div>
<br><button class="slidedown" style="position: center">Click to Toggle Create Memo Field</button>

<!-- output memos -->
<h2>Memos</h2>
<p>Earliest Memos First</p>
<form id="remove" method="POST" action="/remove">
{% if g.memos %}
    {% for memo in g.memos %}
  <div class="memo">
  <div class="row">
  <div class="col-md-1">
    <button type=submit name="removememo" value="{{ memo.date }}">Remove</button>
  </div>
  <div class="col-md-2">
    {{ memo.date | humanize }}
  </div>
  <div class="col-md-10">
    {{ memo.text }}
  </div>
  </div> <!-- row -->
  </div><br> <!-- memo -->
  {% endfor %}
{% else %}
  <p>No memos for you. </p>  
{% endif %}
</form>

<script>

//animate hidden div to create memo
$(document).ready(function(){
    $(".slidedown").click(function(){
        $("#entermemo").slideToggle();
     });
});

</script>

</div> 
</body>
</html>
